@media screen and (max-width:991px) {
    h2{
        font-size: 36px !important;
    }
    .advertisement2::after{
        content: none;
    }
    .header .header_content{
        justify-content: space-between !important;
    }
    .toggle_button{
        display: block !important;
      }
      .product_details_main .media_wrap{
        flex-wrap: wrap;
      }
      .product_details_main .left_product,.product_details_main .right_product{
        width: 100%;
      }
}

@media screen and (max-width:768px) {
    .banner_form.contact{
        display: none;
    }
    .hero_text p, .hero_text h2, .hero_text .banner_btn{
        max-width: 100%;
        text-align: center;
    }
    .tp_header_address{
        display: none !important;
    }
    .footer-right-bottom  .ps-5{
        padding-left: 0 !important;
    }
    .hero{
        height: calc(120vh - 120px);
    }
    .menu_header{
        display: none;
    }
    .hero swiper-slide img{
        min-height: 100vh;
    }
    .padding_block{
        padding: 24px 0;
    }
    .shape.video_shape{
        display: none;
    }
    .video{
        height: 350px;
        background-size: inherit;
    }
    .video_text {
        padding: 0 1rem;
    }
    .gallery-wrap{
        overflow: auto;
    }
    .gallery-wrap .hover_slider_image{
        min-width: 280px;
    }
    .hover_slider_image:hover .item-content{
        padding-right: 0;
    }
    #contact .contact_left {
        padding-right: 3rem !important;
    }
    #contact  .contact_right {
        display: none !important;
    }
}
@media screen and (max-width:576px){
    .testimonials .card{
        margin-left: 0;
        padding-left: 1rem !important;
    }
    .testi_image{
        display: none;
    }
    #contact .contact_left {
        padding: 1rem !important;
    }
    #contact .proc_image{
        bottom: 0px;
    }
}
.swiper-pagination{
    display: none;
}