@media screen and (max-width:991px) {
    h2{
        font-size: 36px !important;
    }
    .advertisement2::after{
        content: none;
    }
    .header .header_content{
        justify-content: space-between !important;
    }
    .toggle_button{
        display: block !important;
      }
}

@media screen and (max-width:768px) {
    .banner_form.contact{
        display: none;
    }
    .hero_text p, .hero_text h2, .hero_text .banner_btn{
        max-width: 100%;
        text-align: center;
    }
    .tp_header_address{
        display: none !important;
    }
    .footer-right-bottom  .ps-5{
        padding-left: 0 !important;
    }
    .hero{
        height: calc(70vh - 120px);
    }
    .menu_header{
        display: none;
    }
}
.swiper-pagination{
    display: none;
}