* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;;
  font-optical-sizing: auto;
  font-style: normal;
}

body,
html {
  background: var(--white);
}

.crinzel_font {
  font-family: "Montserrat", sans-serif;;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --color-primary: #107634;
  --color-secondary: #051815;
  --color-text: #585c59;
  --color-accent: #051815;
  --color-lighter: #a7a9a7;
  --color-highlight: #eecd15;
  --color-dark: #000;
  --color-border: #e8eae5;
  --color-backgroundfield: #f4f5f3;
  --background-color: #faf9f7;
  --white: #fff;
  --dark: #373349;
  --shadow: rgba(0,0,0,.2);
}
.main_color{
  color: var(--color-primary);
}
.secound_main_color{
  color: var(--color-highlight);
}

.secound_button{
  background-color: var(--color-highlight) !important;
  color: var(--color-dark) !important;
}
/* common css start */

.main_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

p,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1260px;
}

[class*=agrile-icon-] {
  font-family: "agrile-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  vertical-align: middle;
}

.card {
  border-radius: 18px;
  transition: .4s;
  border: none;
  box-shadow: 0px 1px 18px 2px rgb(207 204 204 / 72%);
}
.shadow{
  box-shadow: 0 10px 10px #eee !important;
}
.text_justify{
  text-align: justify;
}

.card:hover {
  transform: translateY(-1rem);
}
.card_hover:hover {
  transform: translateY(0rem);
}

h2 {
  font-size: 50px;
  color: var(--color-secondary);
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;;
}

.padding_block {
  padding: 60px 0;
}
.margin_block{
  margin: 60px 0;
}

.main_heading {
  padding-left: 40px;
  position: relative;
  color: var(--color-primary);
  font-weight: 600;
  width: auto;
  display: inline-block;
}
.highlight_button{
  background: var(--color-highlight) !important;
}

.dummy_slider span > span:nth-child(even),.dummy_slider span > span:nth-child(odd){
  font-size: 3rem;
  font-weight: 800;
  color: var(--color-primary);
  background: var(--color-primary);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #fafafa;
  cursor: pointer;
  letter-spacing: 6px;
}

.dummy_slider span > span:nth-child(odd){
  background: var(--color-secondary);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
}
.dummy_slider span > span:nth-child(even):hover,.dummy_slider span > span:nth-child(odd):hover{
  color: var(--color-primary);
}
.dummy_slider img{
  min-width: 50px;
}
.p_text  {
  text-align: left;
  padding-right: 60px;
}
.w-25{
  width: 25%;
}
/* i{
  position: relative;
  opacity: 0;
  width: 20px;
}
i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/icon/plant-leaf.png") no-repeat center;
  background-size: contain;
  width: 20px;
  height: 100%;
  background-color: red;
} */


.main_heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/fav-icon1.png") no-repeat center;
  background-size: contain;
  width: 30px;
  height: 100%;
  /* background-color: red; */
}

.rounded {
  border-radius: 1rem !important;
}

img {
  filter: brightness(1);
}

/* header css start */
.header {
  position: absolute;
  top: 40px;
  z-index: 9;
}

.header_content {
  padding: 0 1rem;
  background: var(--white);
  border-radius: 10px;
}

.header_content .logo {
  width: 100%;
  max-width: 80px;
  display: inline-block;
}

.header_content ul li a {
  font-weight: 700;
  color: var(--color-secondary);
  transition: .4s;
  margin: 0 .5rem;
  padding: 1rem 0;
}

.header_content ul li:first-child a {
  color: var(--color-primary);
}

.header_content ul li a:hover {
  color: var(--color-primary);
}
.header_card {
  position: relative;
}
.header_card span{
  position: absolute;
    top: -10px;
    left: 15px;
    background: var(--color-highlight);
    color: var(--color-secondary);
    width: 20px;
    height: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 10px;
}
.text{
  max-width: 650px;
  margin: auto;
  width: 100%;
}



/* banner css */
.hero swiper-container {
  width: 100%;
  height: 100%;
}

.hero swiper-slide {
  text-align: center;
  font-size: 18px;
  background: url("../images/greenhouse-2139526.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-position: center, center;
  position: relative;
  z-index: 3;
  color: var(--white);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-size: auto;
  background-attachment: fixed;
  background-repeat: repeat;
  position: relative;
  overflow: hidden;
}
.bg_image{
  min-height: 100%;
  min-width: 100%;
  display: inline-block;
}
.bg_image img{
  filter: brightness(.4);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-animation: zoomin 15s ease-in infinite;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  display: inline-block;
}

@-webkit-keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.2);}
  100% {transform: scale(1);}
}


.hero swiper-slide:after {
  background: var(--color-dark);
  opacity: .6;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.advertisement2{
  position: relative;
  background: var(--white);
  /* background: url("../images/oga.png"); */
}
.advertisement2::after{
  position: absolute;
  background: url("../images/oga.png");
  content: "";
  width: 40%;
  height: 100%;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.advertisement2 .icon{
  padding: 1rem;
  background: var(--white);
  min-width: 70px !important;
  border-radius: 50%;
  box-shadow: 0 1px 10px 0 #eee;
}

/* .hero swiper-slide.slide_1 {
  background: url("../images/hero_slider_3.png");
}

.hero swiper-slide.slide_2 {
  background: url("../images/hero_slider_4.png");
}

.hero swiper-slide.slide_3 {
  background: url("../images/hero_slider_5.png");
}
.hero swiper-slide.slide_4 {
  background: url("../images/hero_slider_2.png");
} */

.hero_text {
  position: absolute;
  top: 60%;
  left: 0%;
  transform: translate(0%, -50%);
  max-width: 100%;
  margin: auto;
  width: 100%;
  color: var(--white);
  text-align: left;
}
.hero_text p,.hero_text h2,.hero_text .banner_btn{
  max-width: 60%;
}
/* .hero_text h2,.hero_text p,.hero_text .banner_btn{
  height: 0;
  overflow: hidden;
  animation: bannerHeight 2s linear  ;
  transition: 10s;
}
@keyframes bannerHeight {
  0%{
    height: 0;
  }
  70%{
    height: 50%;
  }
  100%{
    height: fit-content;
  }
} */

.hero swiper-slide h2 {
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--white);
}

.hero swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  height: calc(110vh - 20px);
  /* border-radius: 0 0 10% 10%; */
  overflow: hidden;
}
.hero + .shape{
  z-index: 1;
}

.video_btn_image {
  display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    margin: auto;
}
.video_btn_image img{
  animation: rotate360 8s linear infinite;
}
@keyframes rotate360 {
  0%{
     transform: rotate(0deg);
    }
 100%{
     transform: rotate(360deg);
    }
 }
.video_btn_image i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  z-index: 2;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* animation: rotate-360 6s linear infinite; */
}


/* service css */

.service {
  margin-top: -70px;
  position: relative;
  z-index: 1;
  width: 100%;
  display: inline-block;
}

.service .icon {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: var(--color-primary);
  border-radius: 50%;
}
.service i{
  color: var(--white);
  font-size: 2rem;
}

.service .card h4 {
  transition: .4s;
}

.service .card:hover h4 {
  color: var(--color-primary);
}


/* about css */
.main_image {
  width: 80%;
}

.main_image:after,.main_image:before {
  content: "";
  background: url("../images/h1-bg04.png");
  position: absolute;
  top: -2rem;
  right: -3rem;
  width: 30%;
  height: 50%;
  z-index: 2;
  background-repeat: no-repeat;
}
.main_image:before{
  background: url("../images/icon/star.png");
}

.main_image img {
  position: relative;
  z-index: 3;
}

.abt .main_image .image {
  position: absolute;
  width: 80%;
  bottom: 0;
  right: -15%;
  border-radius: 1rem;
  overflow: hidden;
}
.abt .icon {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  background: var(--white);
  border-radius: 50%;
  padding: 10px;
}
.abt .icon img{
  width: 100%;
}
.abt .icon:first-child img{
  width: 75%;
}



/* footer */
.w-20 {
  width: 20% !important;
}

.footer_main p,
.footer_main h5,
.footer_main h4,.footer_main h6,.footer_main i {
  color: var(--white);
}

.footer_main {
  position: relative;
  background: url("../images/footer_bg\'.jpg");
  width: 100%;
  height: 100%;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  font-weight: 600;
}

.footer_main img,
.header img {
  filter: none;
}

/* .footer_main:before, */
.footer_main:after {
  position: absolute;
  top: -100px;
  left: 3.4%;
  width: 100px;
  height: 100px;
  background: var(--color-primary);
  content: "";
  border-radius: 100px 0 0 0;
}
.social_links a,.social_links a i{
  display: flex;
  align-items: center;
  justify-content: center;
}
.social_links a:hover i{
  color: var(--color-primary);
}

.footer_main:after {
  width: 100%;
  height: 100%;
  background: linear-gradient(30deg, #222, #37473d);
  opacity: .6;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0;
}

.footer_main .card {
  background: var(--color-primary);
  color: #fff;
  border-radius: 0 0 20px 20px;
}

.footer_main .card:hover {
  transform: translateY(0rem);
}

.footer_main a {
  color: var(--white);
  transition: .4s;
}

.footer_main a:hover {
  color: var(--color-highlight);
}

.input_box input {
  background: #fff;
  padding: 10px 16px;
  border-radius: 40px;
  border: 1px solid #fff;
  font-weight: 500;
  margin-bottom: 10px;
  width: 100%;
}

.footer_main .heading h5 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--white);
}

.footer_main .card .icon i {
  font-size: 70px;
}

.footer_main .footer .card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.4rem;
  position: relative;
  overflow: hidden;
}

.footer_main .footer .card:after {
  content: "\f32e";
  color: #eeeeee45;
  opacity: .7;
  position: absolute;
  top: -160px;
  right: 80px;
  width: 100px;
  height: 100px;
  font-family: "bootstrap-icons" !important;
  font-size: 300px;
}

.footer .row p.text-center a {
  color: var(--color-highlight);
}

.footer h4 {
  font-weight: 600;
}
.fr_icon i{
  font-size: 2rem;
}
.footer-right-top .email_contact{
  transition: .4s;
  cursor: pointer;
}
.footer-right-top .email_contact h4{
  font-size: 1.2rem;
}
.footer-right-top .email_contact:hover .fr_text h6 {
  color: var(--color-highlight);
}


.proc_image {
  position: absolute;
  /* background: red; */
  width: 35%;
  height: 35%;
  bottom: 40px;
  left: -1px;
  z-index: 1;
}

.ag_process {
  margin-bottom: -100px;
  position: relative;
  z-index: 5;
}

.ag_process .prosess h4 {
  color: var(--color-secondary);
}

.ag_process .card {
  border-radius: 30px;
  box-shadow: none;
  z-index: 2;
}

.process_number {
  width: 65px;
  height: 65px;
  background: var(--color-primary);
  color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.process_number a{
  color: var(--white);
}
.process_box {
  transition: .4s;
}

.process_box:hover .prosess h4 {
  color: var(--color-primary);
}

.video {
  width: 100%;
  height: 700px;
  background: url("../images/bb-slider.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.video::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-secondary);
  opacity: .5;
  z-index: 1;
}

.video_text {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 860px;
  transform: translate(-50%, -45%);
  z-index: 3;
  width: 100%;
}

.video_text h2 {
  font-size: 5rem;
  font-weight: 700;
}

.process_box {
  background: linear-gradient(360deg, var(--white), var(--white), transparent);
  padding: 12px;
  border-radius: 10px;
}

.product_box {
  width: 100%;
  display: inline-block;
  padding: 1rem;
}
.product swiper-slide{
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}
.product .card{
  box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, .2);
}
.product_box img {
  width: 100%;
  margin: auto;
}

.product_box .p_heading p a {
  color: var(--color-text);
  font-weight: 500;
}
.product .product_card .image{
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}
.product .product_card h4{
  transition: .4s;
  color: var(--color-secondary);
  text-align: center;
}
.product .product_card .image img{
  transition: .4s;
  width: 100%;
  height: 100%;
}
.product_card {
  transition: .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  text-align: center;
}
.product_card:hover img{
  transform: scale(1.2);
}
.product_card:hover h4{
  color: var(--color-primary);
}

.product_box .p_sub_heading h5 {
  color: var(--color-secondary);
  font-weight: 600;
}

.product_box .p_price a {
  color: var(--color-primary);
  font-size: 1.4rem;
  font-weight: 500;
}

.like_icon {
  position: absolute;
  top: 1rem;
  right: -100px;
  transition: .3s;
  padding: 10px;
  box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, .03137254901960784);
  border-radius: 6px;
  /* background: var(--white); */
}
.like_icon i{
  color: var(--color-primary);
  font-size: 1.2rem;
  border-radius: 50%;
  border: 1px solid var(--color-primary);
  padding: 10px;
  background: var(--white);
  width: 2.5rem;
  height: 2.5rem;
display: flex;
align-items: center;
justify-content: center;
}
.like_icon  li{
  display: flex;
  align-items: center;
  justify-content: center;
}

.product .card:hover .like_icon {
  right: 1rem;
}

.shape{
  margin-top: -69px;
  position: relative;
  z-index: 2;
}
.shape path{
  fill: rgb(255 255 255 / 100%);
}
.product .shape{
  transform: rotate(270deg);
    position: absolute;
    right: -2px;
    bottom: -2px;
}
.product .shape .process_number{
  bottom: 2px;
  left: 2px;
  z-index: 3;
  transform: rotate(90deg);
  transition: .3s;
  cursor: pointer;
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
}
.product .card:hover .process_number{
  /* transform: rotate(135deg); */
  background: var(--color-highlight);
  /* color: var(--color-secondary); */
}
.product .card:hover .process_number a{
  color: var(--color-accent);
}
.video_shape{
  position: absolute;
    z-index: 1;
    width: 100%;
    display: inline-block;
    height: 100px;
    bottom: -30px;
    /* background: red; */
    left: 0;
}
.map .video_shape {
  bottom: auto;
  top: 38px;
  transform: rotate(180deg);
}
.map .video_shape path{
  fill: #fff;
}

iframe + div + div{
  position: absolute;
  top: 100px;
  left: 1rem;
  background: var(--white);
}

.swiper-container {
  width: 100%;
  /* height: 80vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../images/hero_slider_6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #fff; */
  /* padding: 20px 0; */
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 55vh;
  gap: 1.5rem;
}
.swiper-wrapper{
  position: relative;
  z-index: 2;
}
.hover_slider{
  position: relative;
}
.hover_slider:after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(0deg, #ffffff,#fafafab4,transparent, #00000094);
  z-index: 1;
}
.hover_slider_image {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.8s ease;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.hover_slider_image:hover {
  flex: 3;
}

.hover_slider_image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(-4deg, #000000, transparent);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hover_slider_image:hover::after {
  opacity: 1;
}

.item-content {
  position: absolute;
  bottom: 50px;
  left: 40px;
  right: 20px;
  color: white;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
  z-index: 1;
}
h2.item-title{
  font-size: 700;
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: var(--white);
}

.hover_slider_image:hover .item-content {
  opacity: 1;
  transform: translateY(0);
  padding-right: 50px;
}

.item-description {
  font-size: 16px;
}

.inspire {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #38ef7d;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.inspire:hover {
  background-color: #2ecc71;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(46, 204, 113, 0.4);
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

.advertisement .main_image > img{
  border-radius: 50% 50% 0% 50% !important;
}

.advertisement .main_image:after{
  top: 1rem;
    height: 26%;
}

.tp_header{
  width: 100%;
  display: inline-block;
  background: var(--color-primary);
}

.tp_header a,.tp_header span,.tp_header i{
  transition: .4s;
  color: var(--white);
  font-size: 14px;
}
.header_content2{
  border-radius: 0;
  background-color: transparent;
}
.header_content3 a{
  color: var(--white) !important;
}




.testimonials{
  width: 100%;
  display: inline-block;
  height: 100%;
}
.given_star .qouts {
  font-size: 48px;
  width: auto;
  display: inline-block;
  transform: rotate(180deg);
}
.testimonials .card{
  padding-left: 90px !important;
  margin-left: 100px;
  margin-right: 12px;
}
.testi_image{
  width: 150px;
  height: 170px;
  background: var(--white);
  display: inline-block;
  border-radius: 1rem;
  overflow: hidden;
  /* border: 1px solid var(--color-lighter); */
  box-shadow: 0 10px 10px #eee;
  position: absolute;
  left: -100px;
  top: 50%;
  transform: translate(10%, -50%);
}
.testi_image img{
  width: 100%;
  height: 100%;
}

.contact .form input,.contact .form textarea{
  background: var(--background-color);
}

.banner_form{
  position: absolute;
  top: 50%;
  transform: translate(0%,-120%);
  right: 0;
  z-index: 9;
  width: 35%;
}
.banner_form .card{
  background-color: #fafafa2e;
  backdrop-filter: blur(2px);
  /* width: 40%; */
}
.statick_location .card{
  text-align: center;
}
.statick_location{
  width: 100%;
  display: inline-block;
  position: relative;
  z-index: 3;
  /* background:var(--white) ; */
}

.inner_banner{
  width: 100%;
  height: 400px;
  background: url("../images/contact_inner.svg");
  background-position: center,center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.about_page{
  background: url("../images/about_banner_bg.svg");
}
.inner_banner::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: var(--color-secondary);
  opacity: .7;
  z-index: 1;
}
.inner_banner .banner_heading{
  position: relative;
  z-index: 2;
  display: flex;
  align-items: end;
  justify-content: flex-start;
  height: 100%;
  padding: 40px 0;
}
.banner_heading p a{
  color: var(--white);
}
#contact .proc_image{
  bottom: 38px;
}
#about_us .main_image{
  width: 70%;
}
#about_us .main_image:after{
  right: -5rem;
}
#about_us .abt .main_image .image{
  right: -20%;
}
.mission .icon{
  max-width: 20%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.mission .icon img{
  width: 100%;
  /* height: 100%; */
}
.toggle_button{
  display: none !important;
}

.toggle_button{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}
.toggle_button span{
  width: 2rem;
  height: 3px;
  border-radius: 4px;
  background: var(--white);
}

.text_dotted{
  white-space: normal;
overflow: hidden;
text-overflow: ellipsis;
display: block;
-webkit-line-clamp: 2;
}


/* 
.grid_container > a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.grid_container > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 2px 16px var(--shadow);
}

.grid_container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-auto-rows: 120px;
  grid-auto-flow: dense;
}

.grid_container .horizontal {
  grid-column: span 2;
}

.grid_container .vertical {
  grid-row: span 2;
}

.grid_container .big {
  grid-column: span 2;
  grid-row: span 2;
} */





.grid {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 30vw;
  list-style: none;
}

.grid li:nth-child(9) {
  grid-column: 1 / -1;
  grid-row: span 2;
}

.grid figure,
.grid img {
  width: 100%;
  height: 100%;
}

.grid img {
  object-fit: cover;
  background: #f5f3f4;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}


@media (min-width: 850px) {
  .grid {
    grid-gap: 24px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 12vw;
  }

  .grid li:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .grid li:nth-child(2) {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
  }

  .grid li:nth-child(3) {
    grid-column: 4;
    grid-row: 1;
  }

  .grid li:nth-child(4) {
    grid-column: 5;
    grid-row: 1;
  }

  .grid li:nth-child(5) {
    grid-column: 4;
    grid-row: 2;
  }

  .grid li:nth-child(6) {
    grid-column: 5;
    grid-row: 2 / span 2;
  }

  .grid li:nth-child(7) {
    grid-column: 2;
    grid-row: 3;
  }

  .grid li:nth-child(8) {
    grid-column: 1;
    grid-row: 3;
  }

  .grid li:nth-child(9) {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
  }

  .grid li:nth-child(10) {
    grid-column: 1 / span 2;
    grid-row: 4;
  }

  .grid li:nth-child(11) {
    grid-column: 5;
    grid-row: 4;
  }
}
.main_gallery_image .text{
  position: absolute;
  top: auto;
  left: 0%;
  bottom: -100%;
  /* transform: translate(-50%, -50%) ; */
  /* text-align: center; */
  padding: 1rem 2rem;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 600;
  color: var(--white);
  /* opacity: 0; */
  transition: .4s;
  background: linear-gradient(45deg, var(--color-accent), transparent);
}
.main_gallery_image .text h4{
  color: var(--white);
  font-weight: 700;
  margin-bottom: 6px;
}
.main_gallery_image {
  transition: .3s;
  height: 230px;
  box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, .2);
}
.main_gallery_image img{
  transition: .4s;
}
.main_gallery_image:hover{
  transform: translateY(-10px);
}
.main_gallery_image:hover img{
 transform: scale(1.1);
 filter: brightness(.7);
}
.main_gallery_image:hover .text{
  /* height: 100%; */
  bottom: 0;
}







.products_details_slider swiper-container {
  width: 100%;
  height: 100%;
}

.products_details_slider swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, .2);
}

.products_details_slider swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.products_details_slider swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.products_details_slider swiper-slide {
  background-size: cover;
  background-position: center;
}

.products_details_slider .mySwiper {
  height: 80%;
  width: 100%;
}

.products_details_slider .mySwiper2 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.products_details_slider .mySwiper2 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.products_details_slider .mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}

.products_details_slider swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product_details_main .left_product{
  width: 45%;
  display: inline-block;
  height: fit-content;
  position: sticky;
  top: 2rem;
  left: 0;
}
.product_details_main .right_product{
  width: calc(55% - 3rem);
  display: inline-block;
}
.product_feature h5{
  color: var(--color-accent);
  margin-bottom: 10px;
  font-weight: 600;
}

.product_details_main .right_product .product_feature_icon{
  min-width: 220px;
}
.product_details_main .right_product .product_feature_icon i{
  color: var(--color-highlight);
  font-weight: bold;
}
.product_details_main .right_product .product_feature_icon a{
  color: var(--color-accent) !important;
}
.product_details_main .right_product .product_details_image{
  max-width: 150px;
}
.product_feature li span:first-child{
  color: var(--color-primary);
}




